<script src="/js/setting.js"></script>
<script src="/js/model.js"></script>
<script src="/js/widget.js"></script>
<script src="/basic/vwatma.js"></script>

<div data-role="page" id="vwatma">

	<div data-role="header" data-position="fixed" data-theme="c">

		<a href="/basic" data-icon="home" data-iconpos="notext" class="ui-btn-left jqm-home">{{#string}}{{Menu}}{{/string}}</a>

		<div data-role="controlgroup" data-type="horizontal" class="eq-right eq-font-90">
			<a data-role="button" data-iconpos="noext" data-inline="true" data-mini="true" data-rel="dialog" href="#filter">{{#string}}{{Filter}}{{/string}}</a>
			<a data-role="button" data-iconpos="noext" data-inline="true" data-mini="true" data-rel="dialog" href="/basic/vwatma?index={{index}}&filter=">{{#string}}{{ResetFilter}}{{/string}}</a>
			<a data-role="button" data-iconpos="noext" data-inline="true" data-mini="true" data-rel="dialog" href="#">{{#string}}{{RemoveAll}}{{/string}}</a>
		</div>

	</div>

	<div data-role="content">
		<ul id="vwatmalistview" data-role="listview" data-inset="true" eq-attr="index={{index}}&filter={{filter}}"></ul>
	</div>

</div>

<div data-role="page" id="filter" data-overlay-theme="c">

	<div data-role="header" data-theme="c">
		<h1>{{#string}}{{Filter}}{{/string}}</h1>
	</div>

	<div data-role="content">

		<form action="/basic/vwatma" method="get" id="filterform">
		<input type="search" name="filter" value="{{filter}}" />
		<input type="hidden" name="index" value="{{index}}" />
		<input type="hidden" name="addfilter" value="true" />
		<form>

		<div data-role="fieldcontain">
			<ul id="filterlistview" data-role="listview" data-inset="true" eq-attr="index={{index}}&filter={{filter}}"></ul>
		</div>

	</div>

</div>

<div data-role="page" id="confirm" data-overlay-theme="c">

	<div data-role="content">

		<div data-role="fieldcontain">
			<div id="eq-data-detail" class="ui-body ui-body-c"></div>
		</div>

		<div data-role="fieldcontain">
			<fieldset class="ui-grid-a">
				<div class="ui-block-a"><a data-role="button" data-icon="delete" data-theme="c" data-rel="back" href="#">{{#string}}{{Cancel}}{{/string}}</a></div>
				<div class="ui-block-b"><a data-role="button" data-icon="check"  data-theme="b" href="/basic/vwatma?index={{index}}&filter={{filter}}" id="eq-data-apply">{{#string}}{{SetBlueMagic}}{{/string}}</a></div>
			</fieldset>
		</div>

		<div data-role="fieldcontain">
			<a href="#" data-role="button" data-icon="search" data-rel="external" target="_blank" eq-attr="{{WebSearch0}}" id="eq-data-websearch0">{{#string}}{{FF11DictionaryJP}}{{/string}}</a>
			<a href="#" data-role="button" data-icon="search" data-rel="external" target="_blank" eq-attr="{{WebSearch1}}" id="eq-data-websearch1">{{#string}}{{GoogleSearch}}{{/string}}</a>
		</div>

	</div>

</div>
