<div class="eq-container">
	<div class="eq-block-inline eq-save-select eq-font-95">
		<select data-mini="true" id="CharacterSelector">
			<option value="">{{#string}}{{CharacterSelectorDropDownTitle}}{{/string}}</option>
		</select>
	</div>
	<div class="eq-block-inline eq-save-button eq-font-95">
		<a href="#menu" data-role="button" data-icon="gear" data-inline="true" data-rel="dialog">{{#string}}{{Menu}}{{/string}}</a>
	</div>
</div>

<div class="eq-container">
	<div class="eq-block-inline eq-save-select eq-font-95">
		<select data-mini="true" id="CharacterSelectorToCompare">
			<option value="">{{#string}}{{CharacterSelectorDropDownTitle}}{{/string}}</option>
		</select>
	</div>
	<div class="eq-block-inline eq-save-button eq-font-95">
		<input type="checkbox" data-mini="true" id="Compare" /><label for="Compare">{{#string}}{{Compare}}{{/string}}</label>
	</div>
</div>
