<div data-role="page" id="menu" data-overlay-theme="c">

	<div data-role="header" data-theme="c">
		<h1>{{#string}}{{Menu}}{{/string}}</h1>
	</div>

	<div data-role="content">

		<div data-role="fieldcontain">
			<a href="#confirm" data-role="button" data-icon="custom-disk" data-rel="dialog" data-mini="true">{{#string}}{{Save}}{{/string}}</a>
			<a href="#confirm" data-role="button" data-icon="delete" data-rel="dialog" data-mini="true">{{#string}}{{Delete}}{{/string}}</a>
			<a href="#confirm" data-role="button" data-icon="plus" data-rel="dialog" data-mini="true">{{#string}}{{NewCharacter}}{{/string}}</a>
			<a href="#confirm" data-role="button" data-icon="back" data-rel="dialog" data-mini="true">{{#string}}{{Discard}}{{/string}}</a>
		</div>
		
		<div data-role="fieldcontain">
			<a href="#merits" data-role="button" data-icon="custom-pencil" data-mini="true">{{#string}}{{Merits}}{{/string}}</a>
			<a href="#skill" data-role="button" data-icon="custom-pencil" data-mini="true">{{#string}}{{Skill}}{{/string}}</a>
			<a href="#bluemagic" data-role="button" data-icon="custom-pencil" data-mini="true">{{#string}}{{EditBlueMagic}}{{/string}}</a>
		</div>

	</div>

</div>
