	<div data-role="navbar" class="ui-navbar">
		<ul>
			<li><a href="#equip" data-icon="custom-pencil" class="{{#equip}}{{#b}}ui-btn-active ui-state-persist{{/b}}{{/equip}}">Equipment</a></li>
			<li><a href="#basic" data-icon="custom-pencil" class="{{#basic}}{{#b}}ui-btn-active ui-state-persist{{/b}}{{/basic}}">Basic</a></li>
			<li><a href="#magic" data-icon="custom-pencil" class="{{#magic}}{{#b}}ui-btn-active ui-state-persist{{/b}}{{/magic}}">Magic</a></li>
			<li><a href="#status" data-icon="custom-calculator"  class="{{#status}}{{#b}}ui-btn-active ui-state-persist{{/b}}{{/status}}">Status</a></li>
		</ul>
	</div>
