<div data-role="page" id="skill" data-fullscreen="true" data-iscroll="enable">

<div data-role="header" data-theme="c">

	<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">{{#string}}{{Menu}}{{/string}}</a>

	<div data-role="controlgroup" data-type="horizontal" class="eq-right eq-font-90">
		<a href="#" data-role="button" data-iconpos="noext" data-inline="true" data-mini="true">{{#string}}{{Revert}}{{/string}}</a>
	</div>

</div>

<div data-role="content">
<div data-iscroll="scroller">

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{HANDTOHAND}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DAGGER}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{SWORD}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="HANDTOHAND" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="DAGGER" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="SWORD" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{GREATSWORD}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{AXE}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{GREATAXE}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="GREATSWORD" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="AXE" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="GREATAXE" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{SCYTH}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{POLEARM}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{KATANA}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="SCYTH" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="POLEARM" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="KATANA" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{GREATKATANA}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{CLUB}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{STAFF}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="GREATKATANA" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="CLUB" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="STAFF" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{ARCHERY}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{MARKSMANSHIP}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{THROWING}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="ARCHERY" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="MARKSMANSHIP" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="THROWING" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{GUARDING}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{EVASION}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{SHIELD}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="GUARDING" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="EVASION" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="SHIELD" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{PARRYING}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="PARRYING" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DIVINEMAGIC}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{HEALINGMAGIC}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{ENCHANCINGMAGIC}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="DIVINEMAGIC" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="HEALINGMAGIC" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="ENCHANCINGMAGIC" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{ENFEEBLINGMAGIC}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{ELEMENTALMAGIC}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DARKMAGIC}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="ENFEEBLINGMAGIC" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="ELEMENTALMAGIC" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="DARKMAGIC" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{SINGING}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{STRINGINSTRUMENT}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{WINDINSTRUMENT}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="SINGING" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="STRINGINSTRUMENT" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="WINDINSTRUMENT" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{NINJUTSU}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{SUMMONING}}{{/string}}</div></div> 
		<div class="eq-grid-3 eq-font-90"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{BLUEMAGIC}}{{/string}}</div></div> 
	</div>

	<div class="eq-grid-row">
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="NINJUTSU" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="SUMMONING" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
		<div class="eq-grid-3">
			<div class="eq-grid ui-bar ui-body-c eq-grid-input">
				<input type="text" id="BLUEMAGIC" size="8" maxlength="3" min="1" max="99" value="" data-inline="true" data-mini="true" />
			</div>
		</div> 
	</div>

</div>
</div>

</div>
