<script src="/status/status.js"></script>

<div data-role="page" id="status">

	<div data-role="header" data-id="mainheader" data-position="fixed" data-theme="c">
		<div data-role="navbar" class="ui-navbar">
		   <ul>
			   <li><a href="/equip" data-icon="custom-pencil" class="">Equip</a></li>
			   <li><a href="/basic" data-icon="custom-pencil" class="">Basic</a></li>
			   <li><a href="/magic" data-icon="custom-pencil" class="">Magic</a></li>
			   <li><a href="/status" data-icon="custom-calculator" class="ui-btn-active ui-state-persist">Status</a></li>
			   <li><a href="/option" data-icon="gear" class="">Option</a></li>
		   </ul>
		</div>
	</div>

	<div data-role="content">

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{HP}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{MP}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{Defence}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DefenceMagic}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DamageCutPhysical}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DamageCutMagic}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DamageCutBreath}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{STR}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DEX}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{VIT}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{AGI}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{INT}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{MND}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{CHR}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{Accuracy}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{Attack}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{AccuracySub}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{AttackSub}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{HasteByEquipment}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{Haste}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{CriticalRate}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{CriticalDamage}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{SubtleBlow}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{StoreTP}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{TP}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{Evasion}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DoubleAttack}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{TrippleAttack}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{QuadAttack}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{Enmity}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RangeAccuracy}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RangeAttack}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{AccuracyMagic}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{AttackMagic}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{D}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{Delay}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DSub}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DelaySub}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">D</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DRange}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{DelayRange}}{{/string}}</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{TPRange}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">B</div></div>
			<div class="eq-grid-4 eq-font-65"><div class="eq-grid ui-bar">C</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistFire}}{{/string}}</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistIce}}{{/string}}</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistWind}}{{/string}}</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistEarth}}{{/string}}</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistLightning}}{{/string}}</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistWater}}{{/string}}</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistLight}}{{/string}}</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar ui-bar-c">{{#string}}{{RegistDark}}{{/string}}</div></div>
		</div>

		<div class="eq-grid-row">
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
			<div class="eq-grid-8 eq-font-65"><div class="eq-grid ui-bar">A</div></div>
		</div>

	</div>

</div>
