<script src="/js/setting.js"></script>
<script src="/js/model.js"></script>
<script src="/js/widget.js"></script>
<script src="/equip/equipset.js"></script>

<div data-role="page" id="equipset">

	<div data-role="header" data-position="fixed" data-theme="c">

		<a href="#" data-icon="arrow-l" data-iconpos="notext" data-rel="back" class="ui-btn-left jqm-home">{{#string}}{{Menu}}{{/string}}</a>

		<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="eq-right eq-font-90 eq-equip">
{{#lvsort}}
			<a data-role="button" data-iconpos="noext" data-inline="true" data-rel="dialog" href="/equip/equipset?part={{part}}&type={{type}}&lvsort=false&filter={{filter}}">{{#string}}{{OrderByName}}{{/string}}</a>
{{/lvsort}}
{{^lvsort}}
			<a data-role="button" data-iconpos="noext" data-inline="true" data-rel="dialog" href="/equip/equipset?part={{part}}&type={{type}}&lvsort=true&filter={{filter}}">{{#string}}{{OrderByLevel}}{{/string}}</a>
{{/lvsort}}
			<a data-role="button" data-iconpos="noext" data-inline="true" data-rel="dialog" href="#type">{{#string}}{{FilterByType}}{{/string}}</a>
			<a data-role="button" data-iconpos="noext" data-inline="true" data-rel="dialog" href="#filter">{{#string}}{{Filter}}{{/string}}</a>
			<a data-role="button" data-iconpos="noext" data-inline="true" data-rel="dialog" href="/equip/equipset?part={{part}}&type={{type}}&lvsort={{lvsort}}&filter=">{{#string}}{{ResetFilter}}{{/string}}</a>
			<a data-role="button" data-iconpos="noext" data-inline="true" data-rel="dialog" href="#">{{#string}}{{Remove}}{{/string}}</a>
		</div>

	</div>

	<div data-role="content">
		<ul id="equipsetlistview" data-role="listview" data-inset="true" eq-attr="part={{part}}&type={{type}}&lvsort={{lvsort}}&filter={{filter}}"></ul>
	</div>

</div>

<div data-role="page" id="type" data-overlay-theme="c">

	<div data-role="header" data-theme="c">
		<h1>{{#string}}{{FilterByType}}{{/string}}</h1>
	</div>

	<div data-role="content">
		<ul id="equiptypelistview" data-role="listview" data-inset="true" eq-attr="part={{part}}&type={{type}}&lvsort={{lvsort}}&filter={{filter}}"></ul>
	</div>

</div>

<div data-role="page" id="filter" data-overlay-theme="c">

	<div data-role="header" data-theme="c">
		<h1>{{#string}}{{Filter}}{{/string}}</h1>
	</div>

	<div data-role="content">

		<form action="/basic/food" method="get" id="filterform">
		<input type="search" name="filter" value="{{filter}}" />
		<input type="hidden" name="part" value="{{part}}" />
		<input type="hidden" name="type" value="{{type}}" />
		<input type="hidden" name="lvsort" value="{{lvsort}}" />
		<input type="hidden" name="addfilter" value="true" />
		<form>

		<div data-role="fieldcontain">
			<ul id="filterlistview" data-role="listview" data-inset="true" eq-attr="part={{part}}&type={{type}}&lvsort={{lvsort}}&filter={{filter}}"></ul>
		</div>

	</div>

</div>

<div data-role="page" id="confirm" data-overlay-theme="c">

	<div data-role="content">

		<div data-role="fieldcontain">
			<div id="eq-data-detail" class="ui-body ui-body-c"></div>
		</div>

		<div data-role="fieldcontain">
			<fieldset class="ui-grid-a">
				<div class="ui-block-a"><a data-role="button" data-icon="delete" data-theme="c" data-rel="back" href="#">{{#string}}{{Cancel}}{{/string}}</a></div>
				<div class="ui-block-b"><a data-role="button" data-icon="check"  data-theme="b" href="/equip" id="eq-data-apply">{{#string}}{{Apply}}{{/string}}</a></div>
			</fieldset>
		</div>

		<div data-role="fieldcontain">
			<a href="#" data-role="button" data-icon="search" data-rel="external" target="_blank" eq-attr="{{WebSearch0}}" id="eq-data-websearch0">{{#string}}{{FF11DictionaryJP}}{{/string}}</a>
			<a href="#" data-role="button" data-icon="search" data-rel="external" target="_blank" eq-attr="{{WebSearch1}}" id="eq-data-websearch1">{{#string}}{{GoogleSearch}}{{/string}}</a>
		</div>

	</div>

</div>
